:root{
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scrollbar-color:  #5a80ff #000;
}
body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div{
    box-sizing: border-box;
}

/* HEADER */
.header{
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between ;
    min-height: 60px;
    z-index: 10;
    box-shadow: 0 0 20px #000;
}

.links{
    width: max-content;
    box-sizing: border-box;
    padding: 0;
    list-style: none;
    display: flex;
    margin-top: 20px;
}





.Container__logo{
    margin-left: 30px;
    margin-top:15px ;
    width: 100px;
    height: 30px
}
/* END HEADER */
/* START BODY */
video{
    object-fit: cover;
    transition: transform 0.7s, box-shadow 0.7s;
    animation-fill-mode: forwards;
    animation: aparecer-letras ease both ;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: contain 80%;
}
.link, .login{
    margin-left: 40px;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    top: 0px;
    padding: 0;
}
.link{
    transition: top 0.5s, position 0.5s;
}
.login{
    margin-right: 40px;
    padding: 8px;
    border-radius: 15px;
    background-color: #fff;
    color: #000;
    transition: none;
    box-shadow: 0 0 0px #fff;
    transition: box-shadow .5s;
    padding: 10px 20px;
}

.link:hover{
    position: relative;
    top: -5px;
}
.login:hover{
    box-shadow: 0 0 15px #fff8;
    background-color: #fff;

}

.background-main{
    box-sizing: border-box;
    background-color: #000;
    background-image: url(https://s3.amazonaws.com/eventticketscenter/images/performers/concert-alternative-boywithuk.webp);
    background-size: cover;
    background-position: center;
    padding-top: 50px;  
}
.main__wrapper{
    margin: auto;
    display: flex;
    max-width: 1024px;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    align-items: stretch;
}

aside,main{
    border-radius: 20px;
    padding: 50px 20px;
    flex-basis: 0;
    background-color: #2228;
    text-align: center;
    color: #fff ;
    margin: 30px 0;
}

/* ASIDE LUGARES */
.container__lugar{
    padding: 5%;
    background-color: #0009;
    object-fit: cover;
    max-height: 300px;
    border-radius: 20px;
    margin: 30px 0;
    transform: scale(1);
    box-shadow: 0 0 0px #000;
    transition: transform 0.7s, box-shadow 0.7s;
    animation-fill-mode: forwards;
    animation: aparecer 1s ease both ;
}
.container__lugar:hover{
    transform: scale(1.07);
    box-shadow: 0 0 16px #444;
}
.lugar__img-container{
    height: 200px;
}
.lugar__img-container img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.container__lugar a{
    text-decoration: none;
    color: #e82;
}
/* ASIDE LUGARES END */
main{
    min-width: 18.75rem;
    flex-grow: 2;
    flex-shrink: 1;
}
h1{
    transition: transform 0.7s, box-shadow 0.7s;
    animation-fill-mode: forwards;
    animation: aparecer-letras 1s ease both ;
}
main p{
    width: fit-content;
    font-size: 1.3rem;
    line-height: 28px;
    transition: transform 0.7s, box-shadow 0.7s;
    animation-fill-mode: forwards;
    animation: aparecer-letras 1s ease both ;
}
/* VIDEO RESPONSIVE */
.main__video{
    max-width: 100%;
    aspect-ratio: 16/9;
}
video{
    max-width: 100%;
    box-shadow: 0 0 17px #000;
}

/* ----- */

aside{
    min-width: 13rem; 
    flex-grow: 1;
    flex-shrink: 1;
}
.divisor{
    position: absolute;
    background: linear-gradient(to left, #48e, #8fd);
    width: 10px;
    height: 20px;
    animation: divisor  linear both;
    animation-timeline: view();
    animation-range-end: contain 80% ;
}

/* END BODY */

.main-boletos{
    background: linear-gradient(to top  , #48e, #222);
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.main-boletos h3{
    view-timeline: --boletos;
    color: #fff;
    text-align: center;
    width: 100%;
    font-size: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 40px;
    margin-bottom: 60px;
    animation: aparecer-letras both;
    animation-timeline: --boletos;
    animation-range-start: contain 0%;
}


.main-boletos__option{
    view-timeline: --boletos;
    box-sizing: border-box;
    min-width: 300px;
    flex-wrap: wrap;
    flex-wrap: wrap;
    box-shadow: 0 0 10px #eee4;
    color: #fff;
    background-color: #222;
    box-sizing: border-box;
    max-width: 25%;
    min-height: 500px;
    flex-grow: 1;
    border: 2px solid #000;
    border-radius: 30px;
    text-align: center;
    margin-bottom: 3rem;
    transform: scale(1);
    transition: transform 0.7s, box-shadow 0.7s;
    animation: aparecer-letras both;
    animation-timeline: --boletos;
    animation-range-start: cover -35%;
}
.main-boletos__option:hover{
    transform: scale(1.1);
    box-shadow: 0 0 20px #222;
}
.option__description{
    border-radius: 0 0 30px 30px;
}
.main-boletos__option h4{
    padding-top: 20px;
    font-size: 27px;
    margin:0 0 0 10px;
}
.main-boletos__option img{
    width: 100%;
    height: 200px;
    border-radius: 20px 20px 0 0 ;
}
.main-boletos__option h5{
    font-size:27px;
    margin: 0;
}
.main-boletos__option ul{
    list-style-type: none;
    padding: 0;
    margin: 10px;
}

.main-boletos__option button{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    border-radius: 20px;
    width: 50%;
    padding: 10px 40px;
    margin: 10px 15px;
    border: none;
    color: #fff;
    box-shadow: 0 0 17px #000;
    cursor: pointer;
    position: relative;
}
.main-boletos__option button::before{
    position: absolute;
    background-color: #ddd7;
    top: 0;
    content: '';
    width: 27px;
    height: 40px;
    right: 130px;
    opacity: 0;
    transform: skew(30deg);
    
}
.main-boletos__option button:hover::before{
    opacity: 1;
    right: 0px;
    background-color: #fff7;
    animation: boton 0.5s  linear both;
}
.option1{
    background: linear-gradient(#ffdf00 -300px, #000);
}
.option1 button{
    background: linear-gradient( #ffdf00 -50px, #e82);
}

.option2{
    background: linear-gradient(rgb(1, 132, 255) -300px, #000);
}
.option2 button{
    background: linear-gradient( #14f , #2aa);
}

.option3{
    background: linear-gradient(rgb(141, 1, 255) -300px, #000);
}

.option3 button{
    background: linear-gradient( #51f , #21e);
}

/* FOOTER */
footer{
    background-color: #222;
}
.contain-p{
    margin: 0;
    display: flex;
    color: #fff;
    justify-content: space-around;
    width: 50%;

}

@keyframes aparecer {
    from{
        position: relative;
        left: -27px;
        opacity: 0;
    }
    to{
        position: relative;
        left: 0px;
        opacity: 1;
    }
}

@keyframes aparecer-letras {
    from{
        position: relative;
        bottom: -30px;
        opacity: 0;
    }
    to{
        position: relative;
        bottom: 0px;
        opacity: 1;
    }
}

@keyframes divisor {
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}

@keyframes boton{
    0%{
        right: 100px;
    }
    50%{
        opacity: 1;
        right: 60px;
        background-color: #fff7;
    }
    100%{
        opacity: 0;
        right: 10px;
    }
}
